body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #2e2e2e;
}

.title_text {
	color: #fff;
	text-align: center;
	font-size: 60px;
	text-shadow: 7px 7px 10px black, 0 0 0.3em #00C9FF, 0 0 0.1em #fff;
}

.title_introduction {
	color: #fff;
	text-align: center;
	font-size: 20px;
	text-shadow: 4px 5px 3px black;
}